<div
  class="card mb-4 rounded"
  style="justify-content: center"
  *ngIf="this.asesel != 'SURA' && this.asesel != 'QUALITAS'"
>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-12"><h5>Adicionales</h5></div>
        <!-- <div class="col-12"><h5>{{this.asesel}}</h5></div> -->
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="chkBeneficiario" class="mr-2"
              >Beneficiario Preferente</label
            >
            <input
              type="checkbox"
              id="chkBeneficiario"
              checked="false"
              [(ngModel)]="mostrarAdicional"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group" *ngIf="mostrarAdicional">
            <label for="catAdicionalTipoPersona">Tipo de Persona</label>
            <ng-select
              id="catAdicionalTipoPersona"
              [items]="catAdicionalTipoPersona"
              bindLabel="sDato"
              placeholder="TIPO FISCAL"
              appendTo="body"
              [closeOnSelect]="true"
              [clearable]="false"
              [(ngModel)]="itemAdicionalTipoPersona"
              tooltipClass="my-custom-class"
              (change)="onSelectAdicionalTipoPersona()"
            >
              <ng-option
                ng-options="item as item.sLlave for item.sDato in catAdicionalTipoPersona"
              >
                {{ item }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row" *ngIf="mostrarAdicional && mostrarAdicionalPf">
            <div class="form-group col-md-3 col-12">
              <label for="chkBeneficiario">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="txtAdiFisicaNombre"
                value=""
                [(ngModel)]="datAdiPfNombre"
                (change)="nombrePFisMayu(datAdiPfNombre)"
                [ngClass]="{ Existe: datAdiPfNombre!='' ,NoExiste: datAdiPfNombre=='' ||  datAdiPfNombre.length<3}" 
                onkeypress="return( !(( 64>event.charCode || event.charCode > 90) && (97>event.charCode || event.charCode > 122 ) && ( 192>=event.charCode || event.charCode >= 255)))
              "/>
              <ngb-alert [dismissible]="false" type="danger" *ngIf="datAdiPfNombre=='' " class="alert-danger">
                Dato obligatorio
              </ngb-alert>
            </div>       
            <div class="form-group col-md-3 col-12">
              <label for="chkBeneficiario">Apellido Paterno</label>
              <input
                type="text"
                class="form-control"
                id="txtAdiFisicaPaterno"
                value=""
                [(ngModel)]="datAdiPfPaterno"
                (change)="apepatPFisMayu( datAdiPfPaterno )"
                [ngClass]="{ Existe: datAdiPfPaterno!='' , NoExiste: datAdiPfPaterno=='' || datAdiPfPaterno.length<3}" 
                class="form-control"  
                onkeypress="return( !(( 64>event.charCode || event.charCode > 90) && (97>event.charCode || event.charCode > 122 ) && ( 192>=event.charCode || event.charCode >= 255)))
              "/>
              <ngb-alert [dismissible]="false" type="danger" *ngIf="datAdiPfPaterno=='' " class="alert-danger">
                Dato obligatorio
              </ngb-alert>
    
            </div>
            <div class="form-group col-md-3 col-12">
              <label for="chkBeneficiario">Apellido Materno</label>
              <input
                type="text"
                class="form-control"
                id="txtAdiFisicaMaterno"
                value=""
                [(ngModel)]="datAdiPfMaterno"
                (change)="apematPFisMayu( datAdiPfMaterno )"
                [ngClass]="{ Existe: datAdiPfMaterno!='' , NoExiste: datAdiPfMaterno=='' || datAdiPfMaterno.length<3}" 
                class="form-control"  
                onkeypress="return( !(( 64>event.charCode || event.charCode > 90) && (97>event.charCode || event.charCode > 122 ) && ( 192>=event.charCode || event.charCode >= 255)))
              "/>
              <ngb-alert [dismissible]="false" type="danger" *ngIf="datAdiPfMaterno=='' " class="alert-danger">
                Dato obligatorio
              </ngb-alert>
    
            </div>
            <div class="form-group col-md-3 col-12">
              <label class="form-label">RFC:</label>
              <form [formGroup]="formRFCFIS" >
                <input
                  [(ngModel)]="datAdiPfRfc"
                  type="text" 
                  formControlName="RFCInFIS" 
                  class="classform" 
                  [ngClass]="{ NoExiste:formRFCFIS.controls.RFCInFIS.errors?.pattern == false|| datAdiPfRfc.length < 13 ||formRFCFIS.controls.RFCInFIS.value == '' }"
                  maxlength="13"
                  (change)="PfRfc(datAdiPfRfc)"
                  onkeypress="return( !!(
                          ( 97 <= event.charCode  && event.charCode < 123 )||
                          ( 65 <= event.charCode  && event.charCode < 91 )||
                          ( 48 <= event.charCode  && event.charCode < 58 ) ))"
                >
                <ngb-alert [dismissible]="false" type="danger" *ngIf="formRFCFIS.controls.RFCInFIS.errors?.pattern &&  datAdiPfRfc.length == 13 " class="alert-danger">
                  RFC no válido, verifique HOMOCLAVE
                </ngb-alert>
                
                <ngb-alert [dismissible]="false" type="danger" *ngIf="formRFCFIS.controls.RFCInFIS.value == '' " class="alert-danger">
                  Dato obligatorio
                </ngb-alert>
                <ngb-alert [dismissible]="false" type="danger" *ngIf="datAdiPfRfc.length < 13 && datAdiPfRfc !='' " class="alert-danger">
                  Faltan caracteres
                </ngb-alert>
              </form>
            </div>
          </div>
          <div class="row"
            *ngIf="mostrarAdicional && mostrarAdicionalPm && this.asesel != 'BANORTE'"
          >
            <div class="form-group col-md-3 col-12">
              <label for="chkBeneficiario">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="txtAdiMoralNombre"
                value=""
                [(ngModel)]="datAdiPmNombre"
                (change)="nombrePMorMayu(datAdiPmNombre)"
                [ngClass]="{ Existe: datAdiPmNombre!='' , NoExiste: datAdiPmNombre=='' || datAdiPmNombre.length<3}" 
                class="form-control"  
                onkeypress="return(
                    !(
                      event.charCode > 32  
                      && event.charCode > 44
                      && event.charCode > 46
                      && ( 64>event.charCode || event.charCode > 90) 
                      && (97>event.charCode || event.charCode > 122 ) 
                      && ( 192>=event.charCode || event.charCode >= 255)
                      ))"
                />
              <ngb-alert [dismissible]="false" type="danger" *ngIf="datAdiPmNombre=='' " class="alert-danger">
                Dato obligatorio
              </ngb-alert>
    
            </div>
            <div class="form-group col-md-3 col-12">
              <label class="form-label">RFC:</label>
              <form [formGroup]="formRFCMOR" >
                <input
                  [(ngModel)]="datAdiPmRfc"
                  type="text" 
                  formControlName="RFCInMOR" 
                  class="classform" 
                  [ngClass]="{ NoExiste:formRFCMOR.controls.RFCInMOR.errors?.pattern == false || formRFCMOR.controls.RFCInMOR.value == ''|| datAdiPmRfc.length < 12 }"
                  maxlength="12"
                  (change)="PmRfc(datAdiPmRfc)"
                  onkeypress="return( !!(
                          ( 97 <= event.charCode  && event.charCode < 123 )||
                          ( 65 <= event.charCode  && event.charCode < 91 )||
                          ( 48 <= event.charCode  && event.charCode < 58 ) ))"
                >
                <ngb-alert [dismissible]="false" type="danger" *ngIf="formRFCMOR.controls.RFCInMOR.errors?.pattern &&  datAdiPmRfc.length == 12 " class="alert-danger">
                  RFC no válido, verifique HOMOCLAVE
                </ngb-alert>
                
                <ngb-alert [dismissible]="false" type="danger" *ngIf="formRFCMOR.controls.RFCInMOR.value == '' " class="alert-danger">
                  Dato obligatorio
                </ngb-alert>
                <ngb-alert [dismissible]="false" type="danger" *ngIf="datAdiPmRfc.length < 12 && datAdiPmRfc !='' " class="alert-danger">
                  Faltan caracteres
                </ngb-alert>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
