<footer style="margin-top: 30px">
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="col-md-12 px-0">
          <div class="container px-0">
            <div class="row">
              <div class="col-md-8"></div>
              <div class="col-md-4 col-sm-12">
                <div class="container px-0">
                  <div class="row">
                    <div class="col-6">
                      <div class="container px-0">
                        <div class="row" style="margin-top: -9px">
                          <div class="col-md-4 col-4">
                            <a>
                              <img src="../../../assets/iconos/icono-facebook.svg">
                            </a>
                          </div>
                          <div class="col-md-4 col-4">
                            <a>
                              <img src="../../../assets/iconos/icono-linkedin.svg">
                            </a>
                          </div>
                          <div class="col-md-4 col-4">
                            <a>
                              <img src="../../../assets/iconos/icono-instagram.svg">
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6" style="align-items: center">
                      <button class="btn btn-block" style="margin-top: -20px">
                        <img src="../../../assets/iconos/imagen-ayuda.svg">
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container px-0 mw-100">
    <div class="row mw-100 mx-0">
      <div class="col-3 col-sm-3 col-md-3 px-0 text-white">
        <img src="../../../assets/images/banner_hogar.png" class="img-fluid" style="width: 100%" alt="Responsive image" />
      </div>
      <div class="col-3 col-sm-3 col-md-3 px-0 text-white">
        <img src="../../../assets/images/banner_gmm.png" class="img-fluid" style="width: 100%" alt="Responsive image" />
      </div>
      <div class="col-3 col-sm-3 col-md-3 px-0 text-white">
        <img src="../../../assets/images/banner_vida.png" class="img-fluid" style="width: 100%" alt="Responsive image" />
      </div>
      <div class="col-3 col-sm-3 col-md-3 px-0 text-white">
        <img src="../../../assets/images/banner_travel.png" class="img-fluid" style="width: 100%" alt="Responsive image" />
      </div>
    </div>
  </div>

  <div class="container mw-100" style="background-color: #000000">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="container px-0 mw-100">
          <div class="row">
            <div class="col-3">
              <div class="container pr-0 mw-100">
                <div class="row">
                  <img id="logosymantec" style="
                      height: 40px;
                      margin-top: 29px;
                      margin-left: auto;
                      margin-right: auto;
                    " src="../../../assets/images/logosymantec.png" />
                </div>
              </div>
            </div>
            <div class="col-5 px-0">
              <div class="container px-0 mw-100">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="container mw-100 px-0">
                      <div class="row">
                        <div class="col-6 px-0">
                          <div class="container mw-100 px-0">
                            <div class="row" style="justify-content: center">
                              <img class="m-1" src="../../../assets/images/FooterHelpUserIcon.png"
                                style="height: 32px; width: 32px" />
                            </div>
                          </div>
                        </div>
                        <div class="col-6 px-0">
                          <div class="container mw-100 pl-0">
                            <div class="row">
                              <p style="
                                  font-size: 1.3vh;
                                  margin-left: -28px;
                                  margin-top: 14px;
                                  margin-bottom: 0px;
                                " id="chikis">
                                Sin Costo: Todo el País 01 (55) 4433-2815
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 px-0">
                          <div class="container mw-100 px-0">
                            <div class="row">
                              <p style="font-size: 2.4vh" id="chikis">
                                Atención a Clientes: Lun. a Vier. 8:00 a 22:00
                                hrs. Sab. 09:00 a 15:00 hrs.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 px-0">
                          <div class="container mw-100 px-0">
                            <div class="row">
                              <p style="font-size: 2.4vh" id="chikis">
                                Mayorazgo No. 37, Colonia Xoco, Benito Juárez,
                                C.P. 03330, México, CDMX.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="container mw-100 px-0">
                      <div class="row">
                        <div class="col-6 px-0" style="line-height: 6px !important">
                          <a class="avisos" style="font-size: 2.4vh" id="chikis" href="">Aviso privacidad AGENTE</a>
                        </div>
                        <div class="col-6 px-0" style="line-height: 6px !important">
                          <a class="avisos" style="font-size: 2.4vh" id="chikis" href="">Aviso privacidad AARCO</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 px-0">
              <div class="container mw-100 px-0">
                <div class="row" style="justify-content: center">
                  <img id="FooterAarcoLogo" style="height: 50px; margin-left: auto; margin-right: auto"
                    alt="Responsive image" src="../../../assets/images/FooterAarcoLogo.png" />
                </div>
              </div>
            </div>
            <div class="col-2 pl-0">
              <div class="container mw-100 px-0">
                <div class="row" style="justify-content: center">
                  <div class="col-12">
                    <p style="font-size: 2.4vh" class="masc" id="chikis">
                      Encuéntranos en nuestras redes sociales
                    </p>
                  </div>
                </div>
                <div class="row" style="justify-content: center">
                  <div class="col-md-12 col-sm-12">
                    <div class="container mw-100 px-0">
                      <div class="row">
                        <div class="col px-0">
                          <a class="mlef mrig">
                            <img src="../../../assets/iconos/footer-icono-facebook.svg" width="24px" height="24px">
                          </a>
                        </div>
                        <div class="col px-0">
                          <a class="mlef mrig">
                            <img src="../../../assets/iconos/footer-icono-linkedin.svg" width="24px" height="24px">
                          </a>
                        </div>
                        <div class="col px-0">
                          <a class="mlef mrig">
                            <img src="../../../assets/iconos/footer-icono-youtube.svg" width="24px" height="24px">
                          </a>
                        </div>
                        <div class="col px-0">
                          <a class="mlef mrig">
                            <img src="../../../assets/iconos/footer-icono-instagram.svg" width="24px" height="24px">
                          </a>
                        </div>
                        <div class="col pl-0">
                          <a class="mlef mrig">
                            <img src="../../../assets/iconos/footer-icono-facebook.svg" width="24px" height="24px">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="justify-content: center">
                  <div class="col-12">
                    <p style="font-size: 2.4vh" class="masc" id="chikis">
                      AARCO Agente de Seguros y de Finanzas
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
