<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
              <div class="col-8 col-md-3   ">
                <div class="container">
                  <div class="row">
                    <div class="card" id="estesi">
                      <div class="card-body">
                        <label>Coberturas</label>
                        <br>
                        <label id="fivth"> Incluidas</label> 
                          <div class="row" >
                            Daños materiales
                          </div>
                          <div class="row">
                              Robo total
                          </div>
                          <div class="row" style="font-size: 14px;">
                            Responsabilidad Civil
                          </div>
                          <div class="row" style="font-size: 11px;"> 
                            Gastos Médicos Ocupantes
                          </div>
                          <div class="row">
                            Asistencia legal
                          </div>
                          <div class="row" style="font-size: 14px;">
                            Servicios de aistencia
                          </div>
                        
                          <div class="row"  >
                            Auto sustituto
                          </div>
              
                          <div class="row" style="font-size: 12px;">
                            Eliminación de deducible
                          </div>
                          <div class="row">
                            RC en el extranjero
                          </div>
                          <div class="row">
                            Valor 110 
                          </div>
                          <div class="row">
                              Extension RC
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4 col-md-9   ">
                <div class="container">
                  <div class="row">
                    <div class="table-responsive-sm">
                      <table CELLSPACING="0" class="table table-striped" style="border-collapse:separate;">
                        <tbody>
                          <tr id='padou'>
                            <td align="center">
                              <img src="../assets/images/axxa.jpg" class="card-img-top" > 
                            </td>
                            <td align="center">            
                              <img src="../assets/images/Mx-Chubb-1.png" class="card-img-top" > 
                            </td>
                            <td align="center">
                              <img src="../assets/images/sura.jpg" class="card-img-top" >
                            </td>
                            <td align="center">
                              <img src="../assets/images/zurich.png" class="card-img-top" > 
                            </td>
                            <td align="center">
                              <img src="../assets/images/mapfre.jpg" class="card-img-top" > 
                            </td>
                            <td align="center">            
                              <img src="../assets/images/Qualitas-logo.png" class="card-img-top" > 
                            </td>
                            <td align="center">
                              <img src="../assets/images/banorte-seguros.jpg" class="card-img-top" > 
                            </td>
                            <td align="center">
                              <img src="../assets/images/hdi-seguros.jpg" class="card-img-top" > 
                            </td>
                            <td align="center">
                              <img src="../assets/images/afirmelog.png" class="card-img-top" > 
                            </td>
                            <td align="center">
                              <img src="../assets/images/analog.png" class="card-img-top" > 
                            </td>
                          </tr>
                        
                          <tr class="btd">
                            <td align="center">
                              Primer pago: $1340
                              11 Pagos: $430
                              Total:
                              $5,779
                            </td>
                            <td align="center">
                              Primer pago: $1340
                              11 Pagos: $430
                              Total:
                              $5,779
                            </td>
                            <td align="center">
                              Primer pago: $1340
                              11 Pagos: $430
                              Total:
                              $5,779
                            </td>
                            <td align="center">
                              Primer pago: $1340
                              11 Pagos: $430
                              Total:
                              $5,779
                            </td>
                            <td align="center">
                              Primer pago: $1340
                              11 Pagos: $430
                              Total:
                              $5,779
                            </td>
                            <td align="center">
                              Primer pago: $1340
                              11 Pagos: $430
                              Total:
                              $5,779
                            </td>
                            <td align="center">
                              Primer pago: $1340
                              11 Pagos: $430
                              Total:
                              $5,779
                            </td>
                            <td align="center">
                              Primer pago: $1340
                              11 Pagos: $430
                              Total:
                              $5,779
                            </td>
                            <td align="center">
                              Primer pago: $1340
                              11 Pagos: $430
                              Total:
                              $5,779
                            </td>
                            <td align="center">
                              Primer pago: $1340
                              11 Pagos: $430
                              Total:
                              $5,779
                            </td>
                          </tr>
                        
                          <tr class="btd">
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                          </tr>
                            
                          <tr class="btd">
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                          </tr>
                            
                          <tr class="btd">
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                          </tr>
                          
                          <tr class="btd">
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                          </tr>
                          
                          <tr class="btd">
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                          </tr>
                  
                          <tr class="btd">
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                          </tr>
                  
                          <tr class="btd">
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                          </tr>
                  
                          <tr class="btd">
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                          </tr>
                  
                          <tr class="btd">
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='red' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/>
                              </svg>
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                          </tr>
                  
                          <tr class="btd">
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                          </tr>
                  
                          <tr class="btd">
                            <td align="center" id="quitaiz">  
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                            <td align="center" id="quitade"> 
                              <svg fill='#67c146' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                              </svg> 
                            </td>
                          </tr>
                          <tr>
                            <td align="center" id="ultimtab">
                              <button class="btn btn-primary btn-sm" style="background-color: #21c7ed; border-color: #21c7ed; margin-top: 14px;border-radius: 10px;">
                                Contratar
                              </button>
                            </td >
                            <td align="center" id="ultimtab">
                              <button class="btn btn-primary btn-sm" style="background-color: #21c7ed; border-color: #21c7ed; margin-top: 14px;border-radius: 10px;">
                                Contratar
                              </button>
                            </td>
                            <td align="center" id="ultimtab">
                              <button class="btn btn-primary btn-sm" style="background-color: #21c7ed; border-color: #21c7ed; margin-top: 14px;border-radius: 10px;">
                                Contratar
                              </button>
                            </td>
                            <td align="center" id="ultimtab">
                              <button class="btn btn-primary btn-sm" style="background-color: #21c7ed; border-color: #21c7ed; margin-top: 14px;border-radius: 10px;">
                                Contratar
                              </button>
                            </td>
                            <td align="center" id="ultimtab">
                              <button class="btn btn-primary btn-sm" style="background-color: #21c7ed; border-color: #21c7ed; margin-top: 14px;border-radius: 10px;">
                                Contratar
                              </button>
                            </td>
                            <td align="center" id="ultimtab">
                              <button class="btn btn-primary btn-sm" style="background-color: #21c7ed; border-color: #21c7ed; margin-top: 14px;border-radius: 10px;">
                                Contratar
                              </button>
                            </td>
                            <td align="center" id="ultimtab">
                              <button class="btn btn-primary btn-sm" style="background-color: #21c7ed; border-color: #21c7ed; margin-top: 14px;border-radius: 10px;">
                                Contratar
                              </button>
                            </td>
                            <td align="center" id="ultimtab">
                              <button class="btn btn-primary btn-sm" style="background-color: #21c7ed; border-color: #21c7ed; margin-top: 14px;border-radius: 10px;">
                                Contratar 
                              </button>
                            </td>
                            <td align="center" id="ultimtab">
                              <button class="btn btn-primary btn-sm" style="background-color: #21c7ed; border-color: #21c7ed; margin-top: 14px;border-radius: 10px;">
                                Contratar 
                              </button>
                            </td>
                            <td align="center" id="ultimtab">
                              <button class="btn btn-primary btn-sm" style="background-color: #21c7ed; border-color: #21c7ed; margin-top: 14px;border-radius: 10px;">
                                Contratar 
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  
</div>