<div class="container pt-4">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-8 col-md-2" *ngIf="!this.verCarousle">
            <div class="coberturas__card">
              <h5>Coberturas Incluidas</h5>
              <p>Daños Materiales</p>
              <p>Robo Total</p>
              <p>Responsabilidad Civil</p>
              <p>Gastos Médicos Ocupantes</p>
              <p>Asistencia legal</p>
              <p>Servicios de Asistencia</p>
              <p>Auto Sustituto</p>
              <p>Eliminación de deducible</p>
              <p>R.C en el extranjero</p>
              <p>Valor 110</p>
              <p>Extensión R.C</p>
              <div class="">
                <button
                  class="btn btn-primary pull-right mt-4"
                  style="
                    background-color: #21c7ed;
                    border-color: #21c7ed;
                    margin-top: 14px;
                    border-radius: 10px;
                  "
                  (click)="onback()"
                  routerLinkActive="router-link-active"
                >
                  Regresar
                </button>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-10 overflow-auto">
            <div>
              <div>
                <div *ngIf="!this.verCarousle">
                  <table
                    CELLSPACING="0"
                    class="table table-striped"
                    style="
                      border-collapse: separate;
                      font-family: 'Exo 2', sans-serif;
                    "
                  >
                    <tbody>
                      <tr id="padou">
                        <td align="center" *ngFor="let item of Aseguradoras">
                          <img
                            src="{{ item.logo }}"
                            alt="{{ item.nombre }}"
                            class="svg__movil"
                          />
                        </td>
                      </tr>
                      <tr class="btd">
                        <td align="center" *ngFor="let item of Aseguradoras">
                          <label>
                            Primer pago: $ {{ item.primerPago }} 11 Pagos: $
                            {{ item.pagos }} Total: $ {{ item.total }}
                          </label>
                        </td>
                      </tr>
                      <td class="btd" *ngFor="let item of Aseguradoras">
                        <tr
                          align="center"
                          *ngFor="let itemAse of item.coberturas"
                        >
                          <svg
                            *ngIf="itemAse"
                            fill="#67c146"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                          >
                            <path
                              d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                            />
                          </svg>
                          <svg
                            *ngIf="!itemAse"
                            fill="red"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                          >
                            <path
                              d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
                            />
                          </svg>
                        </tr>
                      </td>
                      <tr>
                        <td align="center" *ngFor="let item of Aseguradoras">
                          <button
                            class="btn btn-primary"
                            [routerLink]="['/contrata']"
                            routerLinkActive="router-link-active"
                            [state]="{
                              modsel: vermodelo,
                              marsel: vermarca,
                              descsel: verdescripcion,
                              annosel: veranno,
                              nomsel: nombre,
                              emsel: email,
                              telsel: telefono,
                              generosel: genero,
                              codigosel: codigopostal,
                              fechasel: fechanaci,
                              asesel: item.nombre
                            }"
                          >
                            Contrata
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div
                  id="carouselExampleControls"
                  style="margin-bottom: 70px"
                  class="carousel slide"
                  data-ride="carousel"
                  *ngIf="this.verCarousle"
                >
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="container mw-100">
                        <div class="row">
                          <div class="col-12 d-flex justify-content-center">
                            <img
                              src="{{ Aseguradoras[0].logo }}"
                              alt="{{ Aseguradoras[0].nombre }}"
                              class="svg__movil"
                            />
                          </div>
                          <div class="col-12">
                            <div
                              class="container mw-100"
                              style="background-color: #f4f4f4"
                            >
                              <div class="row">
                                <div class="col-9">
                                  <p id="pm">Daños materiales</p>
                                  <p id="pm">Robo total</p>
                                  <p id="pm">Responsabilidad Civil</p>
                                  <p id="pm">Gastos Médicos Ocupantes</p>
                                  <p id="pm">Asistencia legal</p>
                                  <p id="pm">Servicios de aistencia</p>
                                  <p id="pm">Auto sustituto</p>
                                  <p id="pm">Eliminación de deducible</p>
                                  <p id="pm">RC en el extranjero</p>
                                  <p id="pm">Valor 110</p>
                                  <p id="pm">Extension RC</p>
                                </div>
                                <div class="col-3">
                                  <p
                                    id="pm"
                                    *ngFor="
                                      let cobertura of Aseguradoras[0]
                                        .coberturas
                                    "
                                  >
                                    <svg
                                      *ngIf="cobertura.cobertura"
                                      fill="#67c146"
                                      xmlns="http://www.w3.org/2000/svg"
                                      width="24"
                                      height="24"
                                      viewBox="0 0 24 24"
                                    >
                                      <path
                                        d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                                      />
                                    </svg>
                                    <svg
                                      *ngIf="!cobertura.cobertura"
                                      fill="red"
                                      xmlns="http://www.w3.org/2000/svg"
                                      width="24"
                                      height="24"
                                      viewBox="0 0 24 24"
                                    >
                                      <path
                                        d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
                                      />
                                    </svg>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="container"
                          style="
                            background-color: #f4f4f4;
                            padding-bottom: 20px;
                          "
                        >
                          <div class="row" style="justify-content: center">
                            <button
                              class="btn btn-primary btn-sm"
                              style="
                                background-color: #21c7ed;
                                border-color: #21c7ed;
                                margin-top: 14px;
                                border-radius: 10px;
                              "
                              [routerLink]="['/contrata']"
                              routerLinkActive="router-link-active"
                              [state]="{
                                modsel: vermodelo,
                                marsel: vermarca,
                                descsel: verdescripcion,
                                annosel: veranno,
                                nomsel: nombre,
                                emsel: email,
                                telsel: telefono,
                                generosel: genero,
                                codigosel: codigopostal,
                                fechasel: fechanaci,
                                asesel: Aseguradoras[0].nombre
                              }"
                            >
                              Contratar
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="carousel-item"
                      *ngFor="let items of Aseguradoras | slice: 1"
                    >
                      <div class="container mw-100">
                        <div class="row">
                          <div class="col-12 d-flex justify-content-center">
                            <img
                              src="{{ items.logo }}"
                              alt="{{ items.nombre }}"
                              class="svg__movil"
                            />
                          </div>
                          <div class="col-12">
                            <div
                              class="container mw-100"
                              style="background-color: #f4f4f4"
                            >
                              <div class="row">
                                <div class="col-9">
                                  <p id="pm">Daños materiales</p>
                                  <p id="pm">Robo total</p>
                                  <p id="pm">Responsabilidad Civil</p>
                                  <p id="pm">Gastos Médicos Ocupantes</p>
                                  <p id="pm">Asistencia legal</p>
                                  <p id="pm">Servicios de aistencia</p>
                                  <p id="pm">Auto sustituto</p>
                                  <p id="pm">Eliminación de deducible</p>
                                  <p id="pm">RC en el extranjero</p>
                                  <p id="pm">Valor 110</p>
                                  <p id="pm">Extension RC</p>
                                </div>
                                <div class="col-3">
                                  <p
                                    id="pm"
                                    *ngFor="let cobertura of items.coberturas"
                                  >
                                    <svg
                                      *ngIf="cobertura.cobertura"
                                      fill="#67c146"
                                      xmlns="http://www.w3.org/2000/svg"
                                      width="24"
                                      height="24"
                                      viewBox="0 0 24 24"
                                    >
                                      <path
                                        d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"
                                      />
                                    </svg>
                                    <svg
                                      *ngIf="!cobertura.cobertura"
                                      fill="red"
                                      xmlns="http://www.w3.org/2000/svg"
                                      width="24"
                                      height="24"
                                      viewBox="0 0 24 24"
                                    >
                                      <path
                                        d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
                                      />
                                    </svg>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="container"
                          style="
                            background-color: #f4f4f4;
                            padding-bottom: 20px;
                          "
                        >
                          <div class="row" style="justify-content: center">
                            <button
                              class="btn btn-primary btn-sm"
                              style="
                                background-color: #21c7ed;
                                border-color: #21c7ed;
                                margin-top: 14px;
                                border-radius: 10px;
                              "
                              [routerLink]="['/contrata']"
                              routerLinkActive="router-link-active"
                              [state]="{
                                modsel: vermodelo,
                                marsel: vermarca,
                                descsel: verdescripcion,
                                annosel: veranno,
                                nomsel: nombre,
                                emsel: email,
                                telsel: telefono,
                                generosel: genero,
                                codigosel: codigopostal,
                                fechasel: fechanaci,
                                asesel: items.nombre
                              }"
                            >
                              Contratar
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a
                    class="carousel-control-prev"
                    href="#carouselExampleControls"
                    role="button"
                    data-slide="prev"
                  >
                    <span
                      class="carousel-control-prev-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a
                    class="carousel-control-next"
                    href="#carouselExampleControls"
                    role="button"
                    data-slide="next"
                  >
                    <span
                      class="carousel-control-next-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <div class="container" *ngIf="this.verCarousle">
                  <div class="row">
                    <button
                      class="btn btn-primary pull-right"
                      style="
                        background-color: #21c7ed;
                        border-color: #21c7ed;
                        margin-top: 14px;
                        border-radius: 10px;
                      "
                      [routerLink]="['/compara']"
                      routerLinkActive="router-link-active"
                    >
                      Regresar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
           <div class="row" style="justify-content: center;margin-top: 30px;">
            <button
              class="btn btn-primary"
              style="margin-bottom: 27px"
            >
              Descargar PDF
            </button>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
