<div class="card mb-4 rounded" style="justify-content: center">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-12"><h5>Vehículo</h5></div>
      </div>
      <div class="row">
        <div class="form-group col-md-4 col-12">
          <label class="form-label">Tipo:</label>
          <input type="text"  [(ngModel)]="modeloSelect.sDato" [value]="modeloSelect.sDato"  disabled="true" class="form-control" />
        </div>
        <div class="form-group col-md-4 col-12">
          <label class="form-label">Año:</label>
          <input type="text" [value]="this.anioSelect.sDato"  [(ngModel)]="anioSelect.sDato" disabled="true" class="form-control" />
        </div>
        <div class="form-group col-md-4 col-12">
          <label class="form-label">Marca :</label>
          <input type="text" [value]="this.marcaSelect.sDato"  [(ngModel)]="marcaSelect.sDato"  disabled="true" class="form-control" />
        </div>
        <div class="form-group col-md-4 col-12">
          <label class="form-label">Descripción:</label>
          <input type="text" [value]="this.descripSelect.sDato"  [(ngModel)]="descripSelect.sDato"  disabled="true" class="form-control" />
        </div>
        <div class="form-group col-md-4 col-12">
          <label class="form-label">Número de Serie:</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group col-md-4 col-12">
          <label class="form-label">Número de Placa:</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group col-md-4 col-12">
          <label class="form-label">Número de Motor:</label>
          <input type="text" class="form-control" />
        </div>
      </div>
    </div>
  </div>
</div>
