<div class="container mb-4 mx-0 mw-100" id="inave">
  <div class="card" id="estesi">
    <div class="card-body contenedor-datos">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="container">
              <div class="row mb-4 align-items-center justify-content-center justify-content-lg-start" id="rowtitulo">
                <img src="../../../../assets/iconos/icono-datos-cliente.svg">
                <h5 class="ml-lg-3 m-0 text-center">
                  <b>Información del vehículo </b>
                </h5>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div [ngClass]="{ nodoce: showchiquito}" class="col-12 col-md-3 mb-4">
            <p class="m-0 mb-2">Mi auto es</p>
            <ng-select id="cmbTipoVehiculo" 
              [items]="catTipoVehiculo" bindLabel="sDato" placeholder="TIPO DE VEHÍCULO" appendTo="body"
              [searchable]="false" [clearable]="false" [closeOnSelect]="true" (change)="selectTipoVehiculo()"
              [(ngModel)]="itemTipoVehiculo" [ngbTooltip]="ttTipoVehiculo" tooltipClass="my-custom-class">
              <ng-option ng-options="item as item.sLlave for item.sDato in catTipoVehiculo">
                {{ item }}
              </ng-option>
              <ng-template #ttTipoVehiculo>
                <b *ngIf="!!itemTipoVehiculo">{{itemTipoVehiculo.sDato}}</b>
              </ng-template>
              <ng-template ng-notfound-tmp>
                <div class="ng-option disabled">No hay modelos que mostrar</div>
              </ng-template>
            </ng-select>
          </div>
          <div [ngClass]="{ nodoce: showchiquito}" class="col-12 col-md-3 mb-4">
            <p class="m-0 mb-2">Año:</p>
            <ng-select id="cmbAnioVehiculo"
              [items]="catAnioVehiculo" bindLabel="sDato" placeholder="AÑO" appendTo="body" [searchable]="false"
              [clearable]="false" [closeOnSelect]="true" (change)="selectAnioVehiculo()" [(ngModel)]="itemAnioVehiculo">
              <ng-template ng-notfound-tmp>
                <div class="ng-option disabled">No hay años que mostrar</div>
              </ng-template>
              <ng-option ng-options="item as item.sLlave for item.sDato in catAnioVehiculo">
                {{ item }}
              </ng-option>
            </ng-select>
          </div>
          <div [ngClass]="{ nodoce: showchiquito}" class="col-12 col-md-3 mb-4">
            <p class="m-0 mb-2">Marca:</p>
            <ng-select id="cmbMarcas"
              [items]="catMarcaVehiculo" bindLabel="sDato" placeholder="MARCA" appendTo="body" [searchable]="false"
              [clearable]="false" [closeOnSelect]="true" (change)="selectMarca()" [(ngModel)]="itemMarcaVehiculo" [ngbTooltip]="ttMarcas" tooltipClass="my-custom-class">
              <ng-template #ttMarcas>
                <b *ngIf="!!itemMarcaVehiculo">{{itemMarcaVehiculo.sDato}}</b>
              </ng-template>
              <ng-option ng-options="item as item.sLlave for item.sDato in catMarcaVehiculo">
                {{ item }}
              </ng-option>
              <ng-template ng-notfound-tmp>
                <div class="ng-option disabled">No hay marcas que mostrar</div>
              </ng-template>
            </ng-select>
          </div>

          <div [ngClass]="{ nodoce: showchiquito}" class="col-12 col-md-3 mb-4">
            <p class="m-0 mb-2">Descripción</p>
            <ng-select id="cmbDescripcion"
              [items]="catDescripcionVehiculo" bindLabel="sDato" placeholder="DESCRIPCIÓN" appendTo="body"
              [searchable]="true" [clearable]="false" [closeOnSelect]="true" (change)="selectDescripcion()" [(ngModel)]="itemDescripcionVehiculo" [ngbTooltip]="ttDescripcion" tooltipClass="my-custom-class">
              <ng-template #ttDescripcion>
                <b *ngIf="!!itemDescripcionVehiculo">{{itemDescripcionVehiculo.sDato}}</b>
              </ng-template>
              <ng-option ng-options="item as item.sLlave for item.sDato in catDescripcionVehiculo">
                {{ item }}
              </ng-option>
              <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
                <div class="ng-option disabled" style="font-size: 11px !important">
                  No hay descripción que coincida con "{{ searchTerm }}"
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
