#inave{
    font-family: 'Exo 2', sans-serif;
    font: 300;
    font-size: 20px;
  
  }
  #estesi{
    border-radius: 2.25rem !important;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
   #estesi >.card-header:first-child{
    border-radius: calc(2.25rem - 1px) calc(2.25rem - 1px) 0 0 !important;
    background-color: #21c7ed;
  }
  #estesi> .list-group:last-child  {
    border-bottom-width: 0px;
    border-bottom-right-radius: calc(2.25rem - 1px) !important;
    border-bottom-left-radius: calc(2.25rem - 1px) !important;
  }
  .model {
    background-color: white;
    border: solid black;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
.model{
    background-image:
      linear-gradient(45deg, transparent 50%, white 50%),
      linear-gradient(135deg, white 50%, transparent 50%),
      linear-gradient(  #FF8F48 , #FF6963);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 22.5em;
    background-repeat: no-repeat;
  }
.dropdown-menu {
  height: 100px;
  width: -webkit-fill-available;
  /* para chrome width: -webkit-fill-available; */
  width: -moz-available;
  padding-bottom: 0px !important;
  background-color: #f4f4f4;
  font-family: 'Exo 2', sans-serif;
 font: 300;
 font-size: 20px;
  box-shadow: inset 20px 20px #f4f4f4
} 
.dropdown-item{
  background-color: #f4f4f4 !important;

}
.dropdown-item:focus,.dropdown-item.active,.dropdown-item:hover {
  color: #fff !important;
  text-decoration: none;
  background-color: #ffa96e !important;
}
.dropdown-toggle::after {
  display: none;
}
.mrtop{
  margin-top: 4.5rem;;
  }

@media (max-width: 576px) {
  #labinfove.col-9{
    left: 40px!important;
    top: 10px!important;
  }
  #labinfove>h5{
    font-size: 1.1rem!important;
  }
  button.btn.btn-primary.btn-lg#coti{
        font-size: 20px!important;
     }
     #ahora{
      font-size: 26px !important;
     }
 }