<div class="container mw-100">
    <div class="row">
        <div class="col-12 col-md-4" id="inase">
            <div class="container mw-100 ">
                <div class="row" style="margin-bottom: 11px;">
                    <div class="col">
                        Edad
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" [value]="edad" >
                    </div>
                </div>
                <div class="row" style="margin-bottom: 11px;">
                    <div class="col-5">
                        Nacionalidad
                    </div>
                    <div class="col-7">
                        <ng-select 
                            [items]="Nacion"       
                            bindLabel="NacString"
                            appendTo="body"
                            style="width: 168px;"
                            [searchable]="true" 
                            [clearable]="false"
                            [closeOnSelect]="true"
                            (change)="getrfc()"
                            [(ngModel)]="nacionalidadsel" [ngbTooltip]="nacsel" tooltipClass="my-custom-class">
                            <ng-template #nacsel>
                                <b  *ngIf="!!nacionalidadsel">{{nacionalidadsel.NacString}}</b>
                            </ng-template>
                            <ng-option  ng-options="item as item.NacClave for item.NacString in Nacion">
                                {{item}}
                            </ng-option>
                            <ng-template ng-notfound-tmp let-searchTerm="searchTerm" >
                            <div class="ng-option disabled" style="font-size: 11px !important;">
                                No hay descripción que coincida con "{{searchTerm}}"
                            </div>
                            </ng-template>
                        </ng-select>
                     
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4" id="inase">
            <div class="container mw-100 ">
                <div class="row" style="margin-bottom: 11px;">
                    <div class="col">
                        Estado:
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" [disabled]="true" [value]="estado">
                    </div>
                 </div>
                 <div class="row" style="margin-bottom: 11px;">
                     <div class="col">
                         Municipio
                     </div>
                     <div class="col">
                        <input type="text" class="form-control" [disabled]="true" [value]="municipio"> 
                     </div>
                 </div>
            </div>
        </div>
        <div class="col-12 col-md-4" id="inase">
            <div class="row" style="margin-bottom: 11px;">
            <div class="col">
                Número interior 
            </div>
            <div class="col">
                <input maxlength="5" type="text" class="form-control" id="telefono" style="margin-top: 5px;" autocomplete="off" [(ngModel)]="NomInterior" onkeypress="return(event.charCode>=48 && 57>=event.charCode)">
            </div>
            </div>
            <div class="row" style="margin-bottom: 11px;">
                <div class="col">
                    Número exterior 
                </div>
                <div class="col">
                    <input maxlength="5" type="text" class="form-control" id="telefono" style="margin-top: 5px;" autocomplete="off" [(ngModel)]="NomExterior" onkeypress="return(event.charCode>=48 && 57>=event.charCode)">
                </div>
            </div>
        </div>
    </div>
     
    <div class="row">
        <div class="col-12 col-md-4" id="inase">
           <div class="container mw-100">
                <div class="container mw-100">
                    <div class="row">
                        Sexo
                    </div>
                    <div class="row" >
                        <input type="text" class="form-control" [value]=" mujer==true ? 'Femenino' : hombre==true ? 'Masculino' : 'Persona moral'">
                    </div>
                    <div class="row">
                        Tipo de persona
                    </div>
                    <div class="row">
                        <input type="text" class="form-control" [value]=" empresa==false ? 'Física' :'Moral' ">      
                    </div>
                </div>  
            </div>
        </div>
        <div class="col-12 col-md-4" id="inase">
            <div class="container mw-100">
             <div class="row" style="margin-bottom: 11px;">
              <div class="col-4">
                  Colonia
              </div>
              <div class="col-8">
               <ng-select 
               [items]="cols"        
               bindLabel="sUbicacion"
               placeholder="Colonia"
               appendTo="body"
               [searchable]="false" 
               [clearable]="false"
               [closeOnSelect]="true"
               [(ngModel)]="coloniasel">
               <ng-option  ng-options="item as cols.iIdUbicacion for cols.sUbicacion in cols">
                   {{item}}
               </ng-option>
               <ng-template ng-notfound-tmp >
                 <div class="ng-option disabled">
                     No hay colonias que mostrar
                 </div>
               </ng-template>
                </ng-select>
              </div>
              </div>
               <div class="row">
                   Calle
               </div>
               <div class="row">
                   <input type="text" class="form-control">
               </div>
            </div>
        </div>
        <div class="col-12 col-md-4" id="inase">
           <div class="container px-0 mw-100">
               <div class="row">
                   <div class="col">
                       RFC
                   </div>
                   <div class="col">
                        <input type="text" class="form-control" [value]="!!RFC ? RFC :''" maxlength="13">
                   </div>
               </div>
           </div>
        </div>
    </div>
</div>
       

