<div class="container mw-100">
    <div class="row" style="justify-content: center;">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 300 300" style="width: 174px;">
            <defs>
              <style>
                .cls-1Axxa{isolation:isolate;}
                .cls-2Axxa,
                .cls-9Axxa{fill:#fff;}
                .cls-2Axxa{stroke:#716d6d;stroke-miterlimit:10;stroke-width:0.79px;}
                .cls-3Axxa{opacity:0.2;}
                .cls-3Axxa,
                .cls-5Axxa{mix-blend-mode:multiply;}
                .cls-4Axxa{fill:#ededed;}
                .cls-5Axxa{opacity:0.18;}
                .cls-6Axxa{fill:url(#DegradadoAxxa);}
                .cls-7Axxa{fill:#081281;}
                .cls-7Axxa,
                .cls-8Axxa,
                .cls-9Axxa{fill-rule:evenodd;}
                .cls-8Axxa{fill:#e62334;}
              </style>
              <linearGradient id="DegradadoAxxa" x1="37.83" y1="248.52" x2="339.35" y2="-18.48" gradientTransform="translate(0.04 0.02)" gradientUnits="userSpaceOnUse">
                <stop offset="0.15" stop-color="#9d9d9c"/>
                <stop offset="0.43" stop-color="#babab9"/>
                <stop offset="1" stop-color="#fff"/>
              </linearGradient>
            </defs>
                <title>Axxa</title>
                <g class="cls-1">
                  <g id="Capa_1Axxa" data-name="Capa 1">
                      <path class="cls-2Axxa" d="M290,262a28,28,0,0,1-28,28H38a28,28,0,0,1-28-28V38A28,28,0,0,1,38,10H262a28,28,0,0,1,28,28Z"/>
                    <g class="cls-3Axxa">
                      <path class="cls-4Axxa" d="M286.31,259.05a27.25,27.25,0,0,1-27.25,27.26H41a27.26,27.26,0,0,1-27.26-27.27V41A27.25,27.25,0,0,1,41,13.69H259.06a27.25,27.25,0,0,1,27.25,27.26Z"/>
                    </g>
                    <g class="cls-5Axxa">
                      <path class="cls-6Axxa" d="M285.67,259.23V40.77a27.3,27.3,0,0,0-27.3-27.3H39.9A27.3,27.3,0,0,0,14.33,31.25c36.42,38.21,190,199.43,229.08,245.46,3,3.39,6,6.64,9.15,9.83h5.81A27.3,27.3,0,0,0,285.67,259.23Z"/>
                    </g>
                    <polygon class="cls-7Axxa" points="57.42 71.85 57.42 245.24 242.58 245.24 242.58 71.85 57.42 71.85 57.42 71.85"/>
                    <polygon class="cls-8Axxa" points="158.76 165.7 169.59 165.7 240.44 71.85 229.6 71.85 158.76 165.7 158.76 165.7"/>
                    <path class="cls-9Axxa" d="M192.4,233.83a47,47,0,0,0-1.85-8.2h0L184.7,207H158.76l-4.7,6.14,4.2,12.61a63,63,0,0,0,3.29,8.05H146.79l-2.43-8.05-5.92,8.05H126.63l-2.57-8.05-6.21,8.05H106a6.85,6.85,0,0,0,.78-.72,42.35,42.35,0,0,0,6.56-7.25h0l7.55-9.92-3-8.91H92l-20.24,26.8H59.19c4.78-4.13,6.06-5.42,7.78-7.77h0l38.34-50.67a20.31,20.31,0,0,0,1.42-2.14,13.45,13.45,0,0,0,1.71-4.19h12.48a19.25,19.25,0,0,0,1,6.4h0l8.69,27.37,4.51-5.91L128,175.19a42,42,0,0,0-2.5-6.13h15.1a45.42,45.42,0,0,0,1.5,6.47h0l2.7,8.55,6.5-8.62c1.5-2,3.48-4.27,4.41-6.4h13.19a33.2,33.2,0,0,0-5.85,6.26h0l-14.6,19.39,2.56,8,20.88-27.37c.58-.78,1.14-1.49,1.71-2.28a13.25,13.25,0,0,0,1.86-4.05h12.34a23.62,23.62,0,0,0,1.06,6.05h0l15.81,50.59a34.15,34.15,0,0,0,3.29,8.13H192.4ZM97.9,199h17.68l-5.35-16.31L97.9,199Zm36,13.84,2.79,8.91,4.56-5.92L138.09,207l-4.21,5.78ZM165,199h17.11l-5.34-16.31L165,199Z"/>
                  </g>
                </g>
        </svg>
    </div>
    <div class="row">
        <div class="col-12 col-md-4" id="inase">
            <div class="container mw-100" >
                <div class="row" style="margin-bottom: 11px;">
                    <div class="col">
                        Edad
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" [value]="edad" >
                    </div>
                </div>
                <div class="row" style="margin-bottom: 11px;">
                    <div class="col-5">
                        Nacionalidad
                    </div>
                    <div class="col-7">
                        <ng-select 
                            [items]="Nacion"       
                            bindLabel="NacString"
                            appendTo="body"
                            style="width: 168px;"
                            [searchable]="true" 
                            [clearable]="false"
                            [closeOnSelect]="true"
                            (change)="getrfc( generarfcaccu==true ? generarfcaccu : false, this.ApellidoP,this.ApellidoM,this.Nombre)"
                            [disabled]="!!this.ApellidoP &&  !! this.ApellidoM && !! this.Nombre && generarfcaccu== false || generarfcaccu==true ? false :true  "
                            [(ngModel)]="nacionalidadsel" [ngbTooltip]="nacsel" tooltipClass="my-custom-class">
                            <ng-template #nacsel>
                                <b  *ngIf="!!nacionalidadsel">{{nacionalidadsel.NacString}}</b>
                            </ng-template>
                            <ng-option  ng-options="item as item.NacClave for item.NacString in Nacion">
                                {{item}}
                            </ng-option>
                            <ng-template ng-notfound-tmp let-searchTerm="searchTerm" >
                            <div class="ng-option disabled" style="font-size: 11px !important;">
                                No hay descripción que coincida con "{{searchTerm}}"
                            </div>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4" id="inase">
            <div class="container mw-100 ">
                <div class="row" style="margin-bottom: 11px;">
                    <div class="col">
                        Estado:
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" [disabled]="true" [value]="estado">
                    </div>
                 </div>
                 <div class="row" style="margin-bottom: 11px;">
                     <div class="col">
                         Municipio
                     </div>
                     <div class="col">
                        <input type="text" class="form-control" [disabled]="true" [value]="municipio"> 
                     </div>
                 </div>
            </div>
        </div>
        <div class="col-12 col-md-4" id="inase">
            <div class="row" style="margin-bottom: 11px;">
            <div class="col">
                Número interior 
            </div>
            <div class="col">
                <input maxlength="5" type="text" class="form-control" id="telefono" style="margin-top: 5px;" autocomplete="off" [(ngModel)]="NomInterior" onkeypress="return(event.charCode>=48 && 57>=event.charCode)">
            </div>
            </div>
            <div class="row" style="margin-bottom: 11px;">
                <div class="col">
                    Número exterior 
                </div>
                <div class="col">
                    <input maxlength="5" type="text" class="form-control" id="telefono" style="margin-top: 5px;" autocomplete="off" [(ngModel)]="NomExterior" onkeypress="return(event.charCode>=48 && 57>=event.charCode)">
                </div>
            </div>
        </div>
    </div>
     
    <div class="row">
        <div class="col-12 col-md-4" id="inase">
           <div class="container mw-100">
                <div class="container mw-100">
                    <div class="row">
                        Sexo
                    </div>
                    <div class="row" >
                        <input type="text" class="form-control" [value]=" mujercontrata==true ? 'Femenino' : hombrecontrata==true ? 'Masculino' : 'Persona moral'">
                    </div>
                    <div class="row">
                        Tipo de persona
                    </div>
                    <div class="row">
                        <input type="text" class="form-control" [value]=" empresacontrata==false ? 'Física' :'Moral' ">      
                    </div>
                </div>  
            </div>
        </div>
        <div class="col-12 col-md-4" id="inase">
            <div class="container mw-100">
             <div class="row" style="margin-bottom: 11px;">
              <div class="col-4">
                  Colonia
              </div>
              <div class="col-8">
               <ng-select 
               [items]="cols"        
               bindLabel="sUbicacion"
               placeholder="Colonia"
               appendTo="body"
               [searchable]="false" 
               [clearable]="false"
               [closeOnSelect]="true"
               [(ngModel)]="coloniasel">
               <ng-option  ng-options="item as cols.iIdUbicacion for cols.sUbicacion in cols">
                   {{item}}
               </ng-option>
               <ng-template ng-notfound-tmp >
                 <div class="ng-option disabled">
                     No hay colonias que mostrar
                 </div>
               </ng-template>
                </ng-select>
              </div>
              </div>
               <div class="row">
                   Calle
               </div>
               <div class="row">
                   <input type="text" class="form-control">
               </div>
            </div>
        </div>
        <div class="col-12 col-md-4" id="inase">
           <div class="container px-0 mw-100">
               <div class="row">
                   <div class="col">
                       RFC
                   </div>
                   <div class="col">
                        <input type="text" class="form-control" [value]="!!RFC ? RFC :''" maxlength="13">
                   </div>
               </div>
           </div>
        </div>
    </div>
</div>
<div class="container mw-100" *ngIf="!empresacontrata">
    <div class="row" style="justify-content: center;">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 300 300" style="width: 174px;">
            <defs>
              <style>
                .cls-1Axxa{isolation:isolate;}
                .cls-2Axxa,
                .cls-9Axxa{fill:#fff;}
                .cls-2Axxa{stroke:#716d6d;stroke-miterlimit:10;stroke-width:0.79px;}
                .cls-3Axxa{opacity:0.2;}
                .cls-3Axxa,
                .cls-5Axxa{mix-blend-mode:multiply;}
                .cls-4Axxa{fill:#ededed;}
                .cls-5Axxa{opacity:0.18;}
                .cls-6Axxa{fill:url(#DegradadoAxxa);}
                .cls-7Axxa{fill:#081281;}
                .cls-7Axxa,
                .cls-8Axxa,
                .cls-9Axxa{fill-rule:evenodd;}
                .cls-8Axxa{fill:#e62334;}
              </style>
              <linearGradient id="DegradadoAxxa" x1="37.83" y1="248.52" x2="339.35" y2="-18.48" gradientTransform="translate(0.04 0.02)" gradientUnits="userSpaceOnUse">
                <stop offset="0.15" stop-color="#9d9d9c"/>
                <stop offset="0.43" stop-color="#babab9"/>
                <stop offset="1" stop-color="#fff"/>
              </linearGradient>
            </defs>
                <title>Axxa</title>
                <g class="cls-1">
                  <g id="Capa_1Axxa" data-name="Capa 1">
                      <path class="cls-2Axxa" d="M290,262a28,28,0,0,1-28,28H38a28,28,0,0,1-28-28V38A28,28,0,0,1,38,10H262a28,28,0,0,1,28,28Z"/>
                    <g class="cls-3Axxa">
                      <path class="cls-4Axxa" d="M286.31,259.05a27.25,27.25,0,0,1-27.25,27.26H41a27.26,27.26,0,0,1-27.26-27.27V41A27.25,27.25,0,0,1,41,13.69H259.06a27.25,27.25,0,0,1,27.25,27.26Z"/>
                    </g>
                    <g class="cls-5Axxa">
                      <path class="cls-6Axxa" d="M285.67,259.23V40.77a27.3,27.3,0,0,0-27.3-27.3H39.9A27.3,27.3,0,0,0,14.33,31.25c36.42,38.21,190,199.43,229.08,245.46,3,3.39,6,6.64,9.15,9.83h5.81A27.3,27.3,0,0,0,285.67,259.23Z"/>
                    </g>
                    <polygon class="cls-7Axxa" points="57.42 71.85 57.42 245.24 242.58 245.24 242.58 71.85 57.42 71.85 57.42 71.85"/>
                    <polygon class="cls-8Axxa" points="158.76 165.7 169.59 165.7 240.44 71.85 229.6 71.85 158.76 165.7 158.76 165.7"/>
                    <path class="cls-9Axxa" d="M192.4,233.83a47,47,0,0,0-1.85-8.2h0L184.7,207H158.76l-4.7,6.14,4.2,12.61a63,63,0,0,0,3.29,8.05H146.79l-2.43-8.05-5.92,8.05H126.63l-2.57-8.05-6.21,8.05H106a6.85,6.85,0,0,0,.78-.72,42.35,42.35,0,0,0,6.56-7.25h0l7.55-9.92-3-8.91H92l-20.24,26.8H59.19c4.78-4.13,6.06-5.42,7.78-7.77h0l38.34-50.67a20.31,20.31,0,0,0,1.42-2.14,13.45,13.45,0,0,0,1.71-4.19h12.48a19.25,19.25,0,0,0,1,6.4h0l8.69,27.37,4.51-5.91L128,175.19a42,42,0,0,0-2.5-6.13h15.1a45.42,45.42,0,0,0,1.5,6.47h0l2.7,8.55,6.5-8.62c1.5-2,3.48-4.27,4.41-6.4h13.19a33.2,33.2,0,0,0-5.85,6.26h0l-14.6,19.39,2.56,8,20.88-27.37c.58-.78,1.14-1.49,1.71-2.28a13.25,13.25,0,0,0,1.86-4.05h12.34a23.62,23.62,0,0,0,1.06,6.05h0l15.81,50.59a34.15,34.15,0,0,0,3.29,8.13H192.4ZM97.9,199h17.68l-5.35-16.31L97.9,199Zm36,13.84,2.79,8.91,4.56-5.92L138.09,207l-4.21,5.78ZM165,199h17.11l-5.34-16.31L165,199Z"/>
                  </g>
                </g>
        </svg>
    </div>
    <div class="row">
        
    </div>
</div>