<!-- <p>pagina1 works!</p> -->
<div class="container mw-90">
  <div class="row text-center">
    <div class="col-12 py-4">
      <label id="al" class="mb-0">
        Cotiza tu seguro de auto <label id="facyseg">fácil y seguro</label>
      </label>
    </div>
  </div>

  <app-infovehiculo
    (emitTipoVehiculo)="handlerVehiculoTipo($event)"
    (emitAnioVehiculo)="handlerVehiculoAnio($event)"
    (emitMarcaVehiculo)="handlerVehiculoMarca($event)"
    (emitDescripcion)="handlerVehiculoDescripcion($event)"
  >
  </app-infovehiculo>

  <app-infoasegurado
    (emitClienteNombre)="handlerClienteNombre($event)"
    (emitClienteMail)="handlerClienteMail($event)"
    (emitClienteTelefono)="handlerClienteTelefono($event)"
    (emitClienteTipoPersona)="handlerClienteTipoPersona($event)"
    (emitClienteCodigoPostal)="handlerClienteCodigoPostal($event)"
    (emitClienteNacimiento)="handlerClienteFechaNacimiento($event)"
  >
  </app-infoasegurado>

  <div class="row justify-content-center">
    <button
      id="coti"
      class="btn btn-primary btn-lg"
      [routerLink]="['/compara']"
      routerLinkActive="router-link-active"
      [state]="{
        tipove: this.vehiculoTipo,
        anniove: this.vehiculoAnio,
        marcave: this.vehiculoMarca,
        descve: this.vehiculoDescripcion,
        namease: this.clienteNombre,
        emailase: this.clienteMail,
        phonease: this.clienteTelefono,
        tipoperase: this.clienteTipoPersona,
        cpase: this.clienteCodigoPostal,
        fechanacase: this.clienteFechaNacimiento
      }"
      [disabled]="!datosValidos"
    >
      ¡Cotizar mi auto <label id="ahora">ahora</label>!
    </button>
  </div>
</div>
