<!-- <p>pagina1 works!</p> -->
<div class="container mw-90">
  <div class="row text-center">
    <div class="col-12 py-4">
      <label id="al" class="mb-0">
        Cotiza tu seguro de auto <label id="facyseg">fácil y seguro</label>
      </label>
    </div>
  </div>

  <app-infovehiculo
    (emitTipoVehiculo)="handlerVehiculoTipo($event)"
    (emitAnioVehiculo)="handlerVehiculoAnio($event)"
    (emitMarcaVehiculo)="handlerVehiculoMarca($event)"
    (emitDescripcion)="handlerVehiculoDescripcion($event)"
  >
  </app-infovehiculo>

  <!-- <app-infoasegurado (pasad)="f($event)" (pasam)="g($event)" (pasay)="h($event)" (pastel)="i($event)"
    (pasnom)="j($event)" (pasemail)="l($event)" (pascp)="k($event)" (pasgenselmu)="mu($event)" (pasgenmu)="muj($event)"
    (pasgenselho)="ho($event)" (pasgenho)="hom($event)" (pasgenselem)="em($event)" (pasgenem)="emp($event)">
  </app-infoasegurado> -->

  <app-infoasegurado
    (emitClienteNombre)="handlerClienteNombre($event)"
    (emitClienteMail)="handlerClienteMail($event)"
    (emitClienteTelefono)="handlerClienteTelefono($event)"
    (emitClienteTipoPersona)="handlerClienteTipoPersona($event)"
    (emitClienteCodigoPostal)="handlerClienteCodigoPostal($event)"
    (emitClienteNacimiento)="handlerClienteFechaNacimiento($event)"
  >
  </app-infoasegurado>

  <div class="row justify-content-center">
    <!--
    <button id="coti" class="btn btn-primary btn-lg" [routerLink]="['/compara']" routerLinkActive="router-link-active"
      [state]='{
            modsel:modelo,
            marsel:marca,
            descsel:descripcion,
            annosel:anno,
            nomsel:nombre,
            emsel:email,
            telsel:telefono,
            must1:statumustr,
            muboo1:mujboo,
            host1:statuhomstr,
            hoboo1:homboo,
            emst1:statuempstr,
            emboo1:empboo,
            cpsel:cp,
            smsel:sm,
            sysel:sy,
            sdsel:sd,
            sizesel:size }'
      [disabled]="
            this.vehiculoTipo !== this.itemVacio &&
            this.vehiculoAnio !== this.itemVacio &&
            this.vehiculoMarca !== this.itemVacio &&
            this.vehiculoDescripcion !== this.itemVacio &&

            this.nombre==''||
            this.email==''||
            this.telefono==''||
            this.cp==''||
            !(statumustr!=''&&this.sm!=''&&this.sy!=''&& this.sd!='')||!(statuhomstr!=''&&this.sm!=''&&this.sy!=''&& this.sd!='')">¡Cotizar
      mi auto <label id="ahora">ahora</label>!</button>
    -->
    <button
      id="coti"
      class="btn btn-primary btn-lg"
      [routerLink]="['/compara']"
      routerLinkActive="router-link-active"
      [state]="{
        tipove:this.vehiculoTipo,
        anniove:this.vehiculoAnio,
        marcave:this.vehiculoMarca,
        descve:this.vehiculoDescripcion,
        namease:this.clienteNombre,
        emailase:this.clienteMail,
        phonease:this.clienteTelefono,
        tipoperase:this.clienteTipoPersona,
        cpase:this.clienteCodigoPostal,
        fechanacase:this.clienteFechaNacimiento
      }"
      [disabled]="!datosValidos"
    >
      ¡Cotizar mi auto <label id="ahora">ahora</label>!
    </button>
  </div>
</div>
