#al{
    font-family: 'Exo 2', sans-serif;
       font: 300;
       font-size: 40px;
  }
  #facyseg{
    font-family: 'Montserrat', sans-serif;
       background: -webkit-linear-gradient(1.25turn, #FF8F48,#FF6963);
       font: 800;
       font-weight: 900;
       font-size: 40px;
       border-style: none;
       border-radius: 40px;
       -webkit-background-clip: text;
       background-clip: text;
       -webkit-text-fill-color: transparent;
       display: inline;
  }
  
  #coti{
   /* font-family: 'Exo 2', sans-serif;
    */
   background: -webkit-linear-gradient(#FF8F48,#FF6963);
   font: 300;
   font-size: 40px;
   border-style: none;
   border-radius: 40px;
   /* -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent; */
}
#ahora{
 font: 300;
   font-size: 40px;
   font-weight: bold;
}
@media (max-width: 576px) {
#coti{
   font-size: 19px!important;
   width: max-content!important;
   height: max-content!important;
}
#ahora{
   font-size: 25px!important;
}
}