<div class="container mw-100" *ngIf="mujercontrata==true  ||  hombrecontrata==true" style="font-family: Exo 2, sans-serif;font-size: 20px;">
    <div class="row" style="justify-content: center;">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 300 300" style =" width:174px;">
            <defs>
            <style>
            .cls-1Chubb{isolation:isolate;}
            .cls-2Chubb{fill:#fff;stroke:#716d6d;stroke-miterlimit:10;stroke-width:0.79px;}
            .cls-3Chubb{opacity:0.2;}
            .cls-3Chubb,
            .cls-5Chubb{mix-blend-mode:multiply;}
            .cls-4Chubb{fill:#ededed;}
            .cls-5Chubb{opacity:0.18;}
            .cls-6Chubb{fill:url(#DegradadoChubb);}
            .cls-7Chubb{fill:#11110d;}
          </style>
            <linearGradient id="DegradadoChubb" x1="37.84" y1="248.52" x2="339.35" y2="-18.47" gradientTransform="translate(0.04 0.02)" gradientUnits="userSpaceOnUse">
            <stop offset="0.15" stop-color="#9d9d9c"/>
            <stop offset="0.43" stop-color="#babab9"/>
            <stop offset="1" stop-color="#fff"/>
          </linearGradient>
            </defs>
            <title>Chubb</title>
            <g class="cls-1Chubb">
              <g id="CapaChubb" data-name="CapaChubb">
                <path class="cls-2Chubb" d="M290,262a28,28,0,0,1-28,28H38a28,28,0,0,1-28-28V38A28,28,0,0,1,38,10H262a28,28,0,0,1,28,28Z"/>
                <g class="cls-3Chubb">
                <path class="cls-4Chubb" d="M286.31,259.05a27.26,27.26,0,0,1-27.26,27.26H41a27.27,27.27,0,0,1-27.26-27.27V41A27.25,27.25,0,0,1,41,13.69h218.1a27.25,27.25,0,0,1,27.26,27.26Z"/>
                </g>
                  <g class="cls-5Chubb">
                  <path class="cls-6Chubb" d="M285.67,259.23V40.77a27.29,27.29,0,0,0-27.3-27.3H39.9A27.28,27.28,0,0,0,14.34,31.25C50.75,69.46,204.28,230.67,243.41,276.71c3,3.39,6,6.64,9.15,9.82h5.81A27.29,27.29,0,0,0,285.67,259.23Z"/>
                </g>
                  <polygon class="cls-7Chubb" points="104.86 147.72 79.68 147.72 79.68 137.5 74.97 137.5 74.97 162.5 79.68 162.5 79.68 152.11 104.86 152.11 104.86 162.5 109.58 162.5 109.58 137.5 104.86 137.5 104.86 147.72"/>
                  <path class="cls-7Chubb" d="M155.36,158H130.54V137.5h-4.71v19.29c0,3.53,2.14,5.71,6.39,5.71h21.46c4.25,0,6.39-2.18,6.39-5.71V137.5h-4.71Z"/>
                  <path class="cls-7Chubb" d="M27.15,143.21v13.58c0,3.53,2.14,5.71,6.39,5.71H61.22V158H32V142H61.22V137.5H33.54C29.29,137.5,27.15,139.68,27.15,143.21Z"/>
                  <path class="cls-7Chubb" d="M205.32,137.5h-29v25h29c4.64,0,6.78-1.93,6.78-5.25v-2.93a2.2,2.2,0,0,0-1-1.93l-3-2.57,3-2.57a2.19,2.19,0,0,0,1-1.93v-2.57C212.1,139.43,210,137.5,205.32,137.5Zm2,20.75H181V152h26.25Zm0-10.43H181v-6.07h26.25Z"/>
                  <path class="cls-7Chubb" d="M262.82,145.32v-2.57c0-3.32-2.15-5.25-6.79-5.25H227v25h29c4.64,0,6.79-1.93,6.79-5.25v-2.93a2.23,2.23,0,0,0-1-1.93l-3-2.57,3-2.57A2.21,2.21,0,0,0,262.82,145.32ZM258,158.25H231.75V152H258Zm0-10.43H231.75v-6.07H258Z"/>
                  <path class="cls-7Chubb" d="M268.62,142.24v-3.68H270a1.55,1.55,0,0,1,.62.1.75.75,0,0,1,.33.35,1.21,1.21,0,0,1,.14.55,1,1,0,0,1-.23.67.93.93,0,0,1-.64.33,1.05,1.05,0,0,1,.27.21,3.13,3.13,0,0,1,.32.46l.52,1h-.5l-.41-.76a6.24,6.24,0,0,0-.35-.61.86.86,0,0,0-.23-.21.72.72,0,0,0-.32,0H269v1.63Zm.4-2.05h.86a.94.94,0,0,0,.43-.08.53.53,0,0,0,.24-.21.71.71,0,0,0,.08-.34.6.6,0,0,0-.16-.43A.71.71,0,0,0,270,139h-1Z"/>
                  <path class="cls-7Chubb" d="M272.61,140.51a2.79,2.79,0,1,1-2.78-2.77A2.77,2.77,0,0,1,272.61,140.51Zm-2.78-3a3,3,0,1,0,3,3A3,3,0,0,0,269.83,137.5Z"/>
              </g>
            </g>
          </svg>
    </div>
    <div class="container mw-100 px-0" id="DatosContratante" style="margin: 40px;">
        <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="container">
                <div class="row mb-4 align-items-center justify-content-center">
                  <img src="../../../../assets/iconos/icono-datos-vehiculo.svg">
                  <h5 class="ml-lg-3 m-0 text-center">
                    <b>Datos del contratante </b>
                  </h5>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="Edad">Edad</label>
                <input type="text" class="form-control" [value]="edad" [disabled]="true" />
            </div>
            <div class="col">
                 <div class="form-group">
                    <label for="Nacionalidad">Nacionalidad</label>
                    <ng-select 
                        [items]="Nacion"       
                        bindLabel="NacString"
                        appendTo="body"
                        [searchable]="true" 
                        [clearable]="false"
                        [closeOnSelect]="true"
                        placeholder="Nacionalidad"
                        (change)="getrfc( generarfcaccu==true ? generarfcaccu : false, this.ApellidoP,this.ApellidoM,this.Nombre)"
                        [disabled]="!!this.ApellidoP &&  !! this.ApellidoM && !! this.Nombre && generarfcaccu== false || generarfcaccu==true ? false :true  "
                        [(ngModel)]="nacionalidadsel" [ngbTooltip]="nacsel" tooltipClass="my-custom-class">
                        <ng-template #nacsel>
                            <b  *ngIf="!!nacionalidadsel">{{nacionalidadsel.NacString}}</b>
                        </ng-template>
                        <ng-option  ng-options="item as item.NacClave for item.NacString in Nacion">
                            {{item}}
                        </ng-option>
                        <ng-template ng-notfound-tmp let-searchTerm="searchTerm" >
                        <div class="ng-option disabled" style="font-size: 11px !important;">
                            No hay descripción que coincida con "{{searchTerm}}"
                        </div>
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="col">
                <label for="Sexo">Sexo</label>
                <input type="text" class="form-control" [value]=" mujercontrata==true ? 'Femenino' : hombrecontrata==true ? 'Masculino' : 'Persona moral'" [disabled]="true">
            </div>
            <div class="col">
                <label for="TipPers">Tipo de persona</label>
                <input type="text" class="form-control" [value]=" empresacontrata==false ? 'Física' :'Moral' " [disabled]="true">      
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="Estado"> Estado</label>
                <input type="text" class="form-control" [disabled]="true" [value]="estado"/>
            </div>
            <div class="col">
                <label for="Municipio"> Municipio</label>
                <input type="text" class="form-control" [disabled]="true" [value]="municipio"/> 
            </div>
            <div class="col">
                <label for="NumExt">Número exterior</label>
                <input maxlength="5" 
                    type="text" 
                    class="form-control" 
                    id="NumExt" 
                    style="margin-top: 5px;" 
                    autocomplete="off" 
                    (change)="onNumExtChange()" 
                    [(ngModel)]="NomExterior" 
                    onkeypress="return(
                        !!( 
                            ( 97 <= event.charCode  && event.charCode < 123 ) ||
                            ( 65 <= event.charCode  && event.charCode < 91 )||
                            ( 48 <= event.charCode  && event.charCode < 58 )
                        ))"
                    [ngClass]="{
                    Existe: !valClienteNumExtVacio && !valClienteNumExtNoValido,
                    NoExiste:valClienteNumExtVacio || valClienteNumExtNoValido
                    }"
                />
                <ngb-alert
                [dismissible]="false"
                type="danger"
                *ngIf="valClienteNumExtVacio"
                >
                Dato Obligatorio
                </ngb-alert>
                <ngb-alert
                [dismissible]="false"
                type="danger"
                *ngIf="valClienteNumExtNoValido && !valClienteNumExtVacio"
                >
                Faltan dígitos
                </ngb-alert>
            </div>
            <div class="col">
                <label for="NumInt">Número interior</label>
                <input maxlength="5" 
                    type="text" 
                    class="form-control" 
                    id="telefono" 
                    style="margin-top: 5px;" 
                    autocomplete="off" 
                    [(ngModel)]="NomInterior" 
                    onkeypress="return(
                        !!( 
                            ( 97 <= event.charCode  && event.charCode < 123 ) ||
                            ( 65 <= event.charCode  && event.charCode < 91 )||
                            ( 48 <= event.charCode  && event.charCode < 58 )
                        ))"
                    />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="Colonia">Colonia</label>
                    <ng-select 
                   [items]="cols"        
                   bindLabel="sUbicacion"
                   placeholder="Colonia"
                   appendTo="body"
                   [searchable]="false" 
                   [clearable]="false"
                   [closeOnSelect]="true"
                   [(ngModel)]="coloniasel">
                   <ng-option  ng-options="item as cols.iIdUbicacion for cols.sUbicacion in cols">
                       {{item}}
                   </ng-option>
                   <ng-template ng-notfound-tmp >
                     <div class="ng-option disabled">
                         No hay colonias que mostrar
                     </div>
                   </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="col">
                <label for="Calle">Calle</label>
                <input type="text" class="form-control"/>
            </div>
            <div class="col">
                <label for="RFC">RFC</label>
                <input type="text" class="form-control" (change)="onRFCChange()" [(ngModel)]="RFC" maxlength="13"
                [ngClass]="{
                    Existe: !valClienteRFCNoValido && !valClienteRFCVacio,
                    NoExiste: valClienteRFCNoValido || valClienteRFCVacio 
                    }"/>
                <ngb-alert
                [dismissible]="false"
                type="danger"
                *ngIf="valClienteRFCVacio"
                >
               Dato obligatorio
                </ngb-alert>
                <ngb-alert
                [dismissible]="false"
                type="danger"
                *ngIf="valClienteRFCNoValido && !valClienteRFCVacio "
                >
                RFC no válido, no ha ingresado homoclave
                </ngb-alert>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input (click)="muestraDaBePrefFis()" type="checkbox" class="form-check-input" id="BeneficiarioPreferenteFis">
                <label class="form-check-label" for="BeneficiarioPreferenteFis">Beneficiario Preferente (Persona Física)*</label>
                <div class="container mw-100 px-0" id="DatosBeneficiarioPreferenteFis" *ngIf="showFis">
                    <label for="NombreBenefPrefMor">Nombre</label>
                    <input
                        id="NombreBenefPrefMor"
                        type="text"
                        class="form-control"
                        autocomplete="off"
                        [(ngModel)]="NombreBenefPrefFis"
                        [ngbTooltip]="ttClienteNombre"
                        tooltipClass="my-custom-class"
                    />
                    <ng-template #ttClienteNombre>
                        <b *ngIf="!NombreBenefPrefFis">
                          Llene este campo de la siguiente manera: 
                          <br/>
                          Nombre completo, iniciando por apelllidos
                        </b>
                    </ng-template>
                    <br>
                    <label for="CorreoBenefPrefFis">Correo</label>
                    <input
                        id="CorreoBenefPrefFis"
                        type="text"
                        class="form-control"
                        autocomplete="off"
                        [(ngModel)]="CorreoBenefPrefFis"
                    />
                    <br>
                    <label for="RFCBenefPrefFis">RFC</label>
                    <input
                        id="RFCBenefPrefFis"
                        type="text"
                        class="form-control"
                        autocomplete="off"
                        [(ngModel)]="RFCBenefPrefFis"
                    />
                </div>
            </div>
            <div class="col">
                <label></label>
                <input (click)="muestraDaBePrefMor()" type="checkbox" class="form-check-input" id="BeneficiarioPreferenteMor">
                <label class="form-check-label" for="BeneficiarioPreferenteMor">Beneficiario Prefrente (Persona Moral)*</label>
                <div class="container mw-100 px-0" id="DatosBeneficiarioPreferenteMor" *ngIf="showMor">
                    <label for="RFCBenefPrefMor">RFC</label>
                    <input
                        id="RFCBenefPrefMor"
                        type="text"
                        class="form-control"
                        autocomplete="off"
                        [(ngModel)]="RFCBenefPrefMor"
                    />
                    <br>
                    <label for="RaSocBenefPrefMor">Razón Social</label>
                    <input
                        id="RaSocBenefPrefMor"
                        type="text"
                        class="form-control"
                        autocomplete="off"
                        [(ngModel)]="RaSocBenefPrefMor"
                    />
                </div>
               
            </div>
            <div class="col">
                <label for="Ocupacion">Ocupación</label>
                <br>
                <ng-select 
                        [items]="Ocup"       
                        bindLabel="sDato"
                        appendTo="body"
                        [searchable]="true" 
                        [clearable]="false"
                        [closeOnSelect]="true"
                        placeholder="Ocupación"
                        [(ngModel)]="ocupacionsel" [ngbTooltip]="ocusel" tooltipClass="my-custom-class">
                        <ng-template #ocusel>
                            <b  *ngIf="!!ocupacionsel">{{ocupacionsel.sDato}}</b>
                        </ng-template>
                        <ng-option  ng-options="item as item.sLlave for item.sDato in Ocup">
                            {{item}}
                        </ng-option>
                        <ng-template ng-notfound-tmp let-searchTerm="searchTerm" >
                        <div class="ng-option disabled" style="font-size: 11px !important;">
                            No hay descripción que coincida con "{{searchTerm}}"
                        </div>
                        </ng-template>
                </ng-select>
            </div>
            <div class="col">
                <label for="EC">Estado Civil</label>
                <ng-select 
                    [items]="EsCivs"
                    id="EC"        
                    bindLabel="sDato"
                    placeholder="Estado Civil"
                    appendTo="body"
                    [searchable]="false" 
                    [clearable]="false"
                    [closeOnSelect]="true"
                    [(ngModel)]="estadocivilsel">
                    <ng-option  ng-options="item as item.sLlave for item.sDato in EsCivs">
                        {{item}}
                    </ng-option>
               </ng-select>
            </div>
        </div>
    </div>
    
    <div class="container mw-100 px-0" id="DatosVehiculo" style="margin: 40px;" >
        <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="container">
                <div class="row mb-4 align-items-center justify-content-center " >
                  <img src="../../../../assets/iconos/icono-datos-cliente.svg">
                  <h5 class="ml-lg-3 m-0 text-center">
                    <b>Datos del vehículo </b>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        <div class="row">
            <div class="col">
                <label for="NumSerie">Número de Serie</label>
                <input
                    id="NumdeSerie"
                    [(ngModel)]="numdeserie"
                    (change)="onNumSeChange()" 
                    maxlength="17"
                    type="text"
                    class="form-control"
                    autocomplete="off"
                    onkeypress="return(!!(( 97 <= event.charCode  && event.charCode < 105 ) ||
                    ( 106 <= event.charCode  && event.charCode < 113 ) ||
                    ( 114 <= event.charCode  && event.charCode < 123 )||
                        ( 65 <= event.charCode  && event.charCode < 73 )||
                        ( 74 <= event.charCode  && event.charCode < 81 )||
                        ( 82 <= event.charCode  && event.charCode < 91 )||
                        ( 48 <= event.charCode  && event.charCode < 58 ) )  || (event.charCode==32))"
                        [ngClass]="{
                            Existe: !valClienteNumSerieVacio && !valClienteNumSerieNoValido,
                            NoExiste: valClienteNumSerieVacio || valClienteNumSerieNoValido
                            }"
                />
        <!-- para que admita "q" ( 106 <= event.charCode  && event.charCode < 123 ) -->     
        <!-- para que admita "i" ( 97 <= event.charCode  && event.charCode < 112 ) -->       
                <ngb-alert
                [dismissible]="false"
                type="danger"
                *ngIf="valClienteNumSerieVacio "
                >
                Dato Obligatorio
                </ngb-alert> 
            </div> 
            <div class="col">
            <label for="NumPla">Número de Placas</label>
                <input
                    [ngClass]="{ }"
                    id="NumdeSerie"
                    [(ngModel)]="numdeplacas"
                    maxlength="17"
                    type="text"
                    class="form-control"
                    autocomplete="off"
                    onkeypress="return( !!(
                    ( 97 <= event.charCode  && event.charCode < 123 )||
                    ( 65 <= event.charCode  && event.charCode < 91 )||
                    ( 48 <= event.charCode  && event.charCode < 58 ) ))"
                />
        <!-- para que admita "q" ( 106 <= event.charCode  && event.charCode < 123 ) -->     
        <!-- para que admita "i" ( 97 <= event.charCode  && event.charCode < 112 ) -->       

            </div>
            <div class="col">
                <label for="ForPag">Forma de pago</label>
                <input
                    [disabled]="true"
                    id="FormaDePago"
                    type="text"
                    class="form-control"
                    autocomplete="off"
                    [value]="Pago"
                />
            </div>
            <div class="col"> 
                <div class="form-group">
                    <label for="medio">Medio de pago</label>
                    <ng-select [items]="MediosDePago" [(ngModel)]="mediopag" bindLabel="name" bindValue="name">
                        <ng-template ng-label-tmp let-item="item">
                            <img height="15" width="15" [src]="item.avatar"/>
                            {{item.name}}
                        </ng-template>
                     </ng-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="NumMot">Número de Motor *</label>
                <input
                    id="NumdeSerie"
                    [(ngModel)]="numdeMotor"
                    (change)="onNumMotorChange()" 
                    maxlength="17"
                    maxlength="17"
                    type="text"
                    class="form-control"
                    autocomplete="off"
                    onkeypress="return( !!(
                    ( 97 <= event.charCode  && event.charCode < 123 )||
                    ( 65 <= event.charCode  && event.charCode < 91 )||
                    ( 48 <= event.charCode  && event.charCode < 58 ) ))"
                    [ngClass]="{
                        Existe: !valClienteNumMotorVacio && !valClienteNumMotorNoValido,
                        NoExiste: valClienteNumMotorVacio || valClienteNumMotorNoValido
                        }"
                />
            </div>
            <div class="col">
                <label for="ValFac">Valor factura *</label>
                <input
                    id="ValorFactura"
                    type="text"
                    class="form-control"
                    autocomplete="off"
                />
            </div>
        </div>
    </div>
</div>
<div class="container mw-100" *ngIf="empresacontrata==true" >
    <div class="row" style="justify-content: center;">
        <div class="row" style="justify-content: center;">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 300 300" style =" width:174px;">
                <defs>
                <style>
                .cls-1Chubb{isolation:isolate;}
                .cls-2Chubb{fill:#fff;stroke:#716d6d;stroke-miterlimit:10;stroke-width:0.79px;}
                .cls-3Chubb{opacity:0.2;}
                .cls-3Chubb,
                .cls-5Chubb{mix-blend-mode:multiply;}
                .cls-4Chubb{fill:#ededed;}
                .cls-5Chubb{opacity:0.18;}
                .cls-6Chubb{fill:url(#DegradadoChubb);}
                .cls-7Chubb{fill:#11110d;}
            </style>
                <linearGradient id="DegradadoChubb" x1="37.84" y1="248.52" x2="339.35" y2="-18.47" gradientTransform="translate(0.04 0.02)" gradientUnits="userSpaceOnUse">
                <stop offset="0.15" stop-color="#9d9d9c"/>
                <stop offset="0.43" stop-color="#babab9"/>
                <stop offset="1" stop-color="#fff"/>
            </linearGradient>
                </defs>
                <title>Chubb</title>
                <g class="cls-1Chubb">
                <g id="CapaChubb" data-name="CapaChubb">
                    <path class="cls-2Chubb" d="M290,262a28,28,0,0,1-28,28H38a28,28,0,0,1-28-28V38A28,28,0,0,1,38,10H262a28,28,0,0,1,28,28Z"/>
                    <g class="cls-3Chubb">
                    <path class="cls-4Chubb" d="M286.31,259.05a27.26,27.26,0,0,1-27.26,27.26H41a27.27,27.27,0,0,1-27.26-27.27V41A27.25,27.25,0,0,1,41,13.69h218.1a27.25,27.25,0,0,1,27.26,27.26Z"/>
                    </g>
                    <g class="cls-5Chubb">
                    <path class="cls-6Chubb" d="M285.67,259.23V40.77a27.29,27.29,0,0,0-27.3-27.3H39.9A27.28,27.28,0,0,0,14.34,31.25C50.75,69.46,204.28,230.67,243.41,276.71c3,3.39,6,6.64,9.15,9.82h5.81A27.29,27.29,0,0,0,285.67,259.23Z"/>
                    </g>
                    <polygon class="cls-7Chubb" points="104.86 147.72 79.68 147.72 79.68 137.5 74.97 137.5 74.97 162.5 79.68 162.5 79.68 152.11 104.86 152.11 104.86 162.5 109.58 162.5 109.58 137.5 104.86 137.5 104.86 147.72"/>
                    <path class="cls-7Chubb" d="M155.36,158H130.54V137.5h-4.71v19.29c0,3.53,2.14,5.71,6.39,5.71h21.46c4.25,0,6.39-2.18,6.39-5.71V137.5h-4.71Z"/>
                    <path class="cls-7Chubb" d="M27.15,143.21v13.58c0,3.53,2.14,5.71,6.39,5.71H61.22V158H32V142H61.22V137.5H33.54C29.29,137.5,27.15,139.68,27.15,143.21Z"/>
                    <path class="cls-7Chubb" d="M205.32,137.5h-29v25h29c4.64,0,6.78-1.93,6.78-5.25v-2.93a2.2,2.2,0,0,0-1-1.93l-3-2.57,3-2.57a2.19,2.19,0,0,0,1-1.93v-2.57C212.1,139.43,210,137.5,205.32,137.5Zm2,20.75H181V152h26.25Zm0-10.43H181v-6.07h26.25Z"/>
                    <path class="cls-7Chubb" d="M262.82,145.32v-2.57c0-3.32-2.15-5.25-6.79-5.25H227v25h29c4.64,0,6.79-1.93,6.79-5.25v-2.93a2.23,2.23,0,0,0-1-1.93l-3-2.57,3-2.57A2.21,2.21,0,0,0,262.82,145.32ZM258,158.25H231.75V152H258Zm0-10.43H231.75v-6.07H258Z"/>
                    <path class="cls-7Chubb" d="M268.62,142.24v-3.68H270a1.55,1.55,0,0,1,.62.1.75.75,0,0,1,.33.35,1.21,1.21,0,0,1,.14.55,1,1,0,0,1-.23.67.93.93,0,0,1-.64.33,1.05,1.05,0,0,1,.27.21,3.13,3.13,0,0,1,.32.46l.52,1h-.5l-.41-.76a6.24,6.24,0,0,0-.35-.61.86.86,0,0,0-.23-.21.72.72,0,0,0-.32,0H269v1.63Zm.4-2.05h.86a.94.94,0,0,0,.43-.08.53.53,0,0,0,.24-.21.71.71,0,0,0,.08-.34.6.6,0,0,0-.16-.43A.71.71,0,0,0,270,139h-1Z"/>
                    <path class="cls-7Chubb" d="M272.61,140.51a2.79,2.79,0,1,1-2.78-2.77A2.77,2.77,0,0,1,272.61,140.51Zm-2.78-3a3,3,0,1,0,3,3A3,3,0,0,0,269.83,137.5Z"/>
                </g>
                </g>
            </svg>
        </div>
    </div>
    <div class="row">
        
    </div>
  </div>