<!-- Cobertura/Pago -->
<div class="container mw-100">
  <div
    class="card mb-4 rounded"
    style="justify-content: center; justify-items: center"
  >
    <div class="card-body">
      <div class="row" id="datosSeguro">
        <div class="column col-md-3 col-12">
          <div>
            <img [src]="logoAseguradora" height="150px" />
          </div>
        </div>
        <div class="column col-md-9 col-12">
          <app-datos-pago 
          [IdAseguradora]="5"
          [cobertura]="this.polizaselase"
          [pagoseleccionado]="this.pagoselase"
          ></app-datos-pago>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contratante -->
<div class="container mw-100">
  <app-datos-emision-cliente 
    [aseguradoraSelect]="this.aseguradora"
    [codigopostal]="this.codigopostal"
    [nombre]="this.nombreaseg"
    [telefono]="this.telefono"
    [fecha]="this.fechanac"
    [correo]="this.correo"
    [genero]="this.genero"
  ></app-datos-emision-cliente>
</div>

<!-- Vehículo -->
<div class="container mw-100">
  <app-datos-emision-vehiculo
  [modeloSelect]="modeloautoaseg"
  [anioSelect]="marcaautoaseg"
  [descripSelect]="descautoaseg"
  [marcaSelect]="annoautoaseg"
  ></app-datos-emision-vehiculo>
</div>

<!-- Adicionales -->
<div class="container mw-100">
  <app-adicionales
  [asesel]="aseguradora"
  ></app-adicionales>
</div>
