<!-- Cobertura/Pago -->
<div class="container mw-100">
  <div
    class="card mb-4 rounded"
    style="justify-content: center; justify-items: center"
  >
    <div class="card-body">
      <div class="row" id="datosSeguro">
        <div class="column col-md-3 col-12">
          <div>
            <img [src]="logoAseguradora" height="150px" />
          </div>
        </div>
        <div class="column col-md-9 col-12">
          <app-datos-pago [IdAseguradora]="5"></app-datos-pago>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contratante -->
<div class="container mw-100">
  <app-datos-emision-cliente [aseguradoraSelect]="this.aseguradora"
  [codigopostal]="this.codigopostal"
  [correo]="this.correo"
  [telefono]="this.telefono"
  [genero]="this.genero"
  [fecha]="this.fechanac"
  ></app-datos-emision-cliente>
</div>

<!-- Vehículo -->
<div class="container mw-100">
  <app-datos-emision-vehiculo></app-datos-emision-vehiculo>
</div>

<!-- Adicionales -->
<div class="container mw-100">
  <app-adicionales></app-adicionales>
</div>
