<!-- Cobertura/Pago -->
<div class="container mw-100">
  <div
    class="card mb-4 rounded"
    style="justify-content: center; justify-items: center"
  >
    <div class="card-body">
      <div class="row" id="datosSeguro">
        <div
          class="column col-md-3 col-12 d-flex justify-content-center justify-content-md-start mb-4"
        >
          <div>
            <img [src]="logoAseguradora" height="150px" />
          </div>
        </div>
        <div class="column col-md-9 col-12">
          <app-datos-pago
            [IdAseguradora]="5"
            [cobertura]="this.polizaselase"
            [pagoseleccionado]="this.pagoselase"
          ></app-datos-pago>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contratante -->
<div class="container mw-100">
  <app-datos-emision-cliente-fisica
    *ngIf="this.genero != 'Moral' && this.genero !='MORAL' "
    [codigopostal]="this.codigopostal"
    [nombre]="this.nombreaseg"
    [telefono]="this.telefono"
    [fecha]="this.fechanac"
    [correo]="this.correo"
    [genero]="this.genero"
    (emitTipoPersona)="Persona($event)"
  ></app-datos-emision-cliente-fisica>
  <app-datos-emision-cliente-moral
    *ngIf="this.genero == 'Moral' || this.genero=='MORAL'  && this.aseguradora != 'SURA'"
    [aseguradoraSelect]="this.aseguradora"
    [codigopostal]="this.codigopostal"
    [razonsocial]="this.nombreaseg"
  ></app-datos-emision-cliente-moral>
</div>

<!-- Vehículo -->
<div class="container mw-100">
  <app-datos-emision-vehiculo
    [modeloSelect]="modeloautoaseg"
    [anioSelect]="marcaautoaseg"
    [descripSelect]="descautoaseg"
    [marcaSelect]="annoautoaseg"
  ></app-datos-emision-vehiculo>
</div>

<!-- Adicionales -->
<div class="container mw-100">
  <app-adicionales
    *ngIf="this.genero != 'Moral'"
    [asesel]="aseguradora"
  ></app-adicionales>
</div>
