<!-- Respuesta en caso de emisión exitosa -->
<div class="modal-body text-center" *ngIf="success">
  <img class="svg-modal4" src="../../../../assets/iconos/icono-check.svg" />
  <h5>
    La operación se realizo con éxito, recuerda revisar los datos de la póliza
  </h5>
  <p>
    Se registró la emisión con el número <b>XXXXX</b> para la compañía
    <b>MAPFRE TEPEYAC S,A. </b>con Folio <b>2522876</b> en 3030.NET
  </p>
  <p>
    Para complementar la información del Art. 492 y el Expediente Digital del
    cliente, puedes enviar la siguiente liga al cliente o complementarlo tú
    accediendo a la misma.
  </p>
  <button class="btn btn-block btn-cotizamatico">Expediente Digital</button>
  <button class="btn btn-block btn-cotizamatico">Ver Póliza</button>
  <button class="btn btn-block btn-cotizamatico">Ver Condiciones</button>
  <button class="btn btn-block">Continuar</button>
</div>
