<div class="container mw-90 py-4">
  <div class="col-12 mb-3">
    <button
      class="btn btn-ligth"
      (click)="onback()"
      routerLinkActive="router-link-active"
    >
      &#8592; Regresar a comparativo
    </button>
  </div>
  <app-aseg-datos-emision
    [aseguradora]="nombraseguradora"
  ></app-aseg-datos-emision>
</div>

<div class="container">
  <div class="row justify-content-center">
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#pantalla4Modal"
    >
      EMITIR
    </button>
  </div>
</div>

<div class="container">
  <div
    class="modal fade"
    id="pantalla4Modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="pantalla4ModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detalles de la emisión</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <app-emision-final></app-emision-final>
      </div>
    </div>
  </div>
</div>
