<div class="container mw-90"  [ngClass]="{columna :  !noedites}">
    <app-infovehiculo  [modeloselpagina3]="vermodelo" [annoselpagina3]="veranno" [marcaselpagina3]="vermarca" [descripselpagina3]="verdescripcion" [modelosel]="vermodelo" [disabled]="noedites" [annosel]="veranno" [marcasel]="vermarca" [descripsel]="verdescripcion"></app-infovehiculo>
    <app-infoasegurado [existe]="true" [validot]="true" [valido]="true" [validonom]="true" [soymujer]="boostatemu" [disabled]="noedites" [soyhombre]="boostatehom" [soyempresa]="boostateemp" [NOMBRE]="nombre" [EMAIL]="email" [TELEFONO]="telefono" [codigoPostal]="codigopostal" [selectedmes]="mesnaci" [selectedyear]="yearnaci" [selecteddia]="dianaci"></app-infoasegurado>
</div>
<div class="container mw-90">
    <div class="row" >
        <div class="col-12 col-md-3" id="inase">
            <input type="text" class="form-control" [disabled]="true" [value]="estado"> 
        </div>
        <div class="col-12 col-md-3" id="inase">
            <input type="text" class="form-control" [disabled]="true" [value]="municipio"> 
        </div>
        <div class="col-12 col-md-3" id="inase">
            <ng-select 
            [items]="cols"        
            bindLabel="sUbicacion"
            placeholder="Colonia"
            appendTo="body"
            [searchable]="false" 
            [clearable]="false"
            [closeOnSelect]="true"
            [(ngModel)]="coloniasel">
            <ng-option  ng-options="item as cols.iIdUbicacion for cols.sUbicacion in cols">
                {{item}}
            </ng-option>
            <ng-template ng-notfound-tmp >
              <div class="ng-option disabled">
                  No hay colonias que mostrar
              </div>
          </ng-template>
          </ng-select>
        </div>
    </div>
</div>

