<div class="container mw-90">
    <app-infovehiculo  [disabled]="noedites" [modeloselpagina3]="vermodelo" [annoselpagina3]="veranno" [marcaselpagina3]="vermarca" [descripselpagina3]="verdescripcion"></app-infovehiculo>
    <app-infoasegurado [clienteNombreCompleto]="sisirve" [disable]="noedites" [disabledase]="sisirve" [clienteNombre]="nombre" [clienteMail]="email" [clienteTelefono]="telefono" [clienteEsFemeninop3]="mujer" [clienteEsMasculinop3]="hombre" [clienteEsMoralp3]="empresa" [clienteCodigoPostal]='codigopostal' [itemNacimeintoAnio]="fechanacimiento.anio" [itemNacimientoMes]="fechanacimiento.mes" [itemNacimientoDia]="fechanacimiento.dia"
        (emitClienteApellidoPaterno)="ApellidoPAterno($event)"
        (emitClienteApellidoMaterno)="ApellidoMAterno($event)"
        (emitClienteNombre) ="ClienteNombre ($event) "
        (emitClienteTipoPersona)="TipoP($event)"
      ></app-infoasegurado>
</div>
<div class="container mw-90">

    <app-ase-axxa *ngIf="nombraseguradora=='AXXA'"  [Dia]="fechanacimiento.dia" [Mes]="fechanacimiento.mes" [ApellidoP]="ApePateCliente" [ApellidoM]="ApeMateCliente" [Nombre]="ClienteNomb" [edad]="fechanacimiento.anio" [CP]="codigopostal" [mujercontrata]="mujer" [hombrecontrata]="hombre" [empresacontrata]="empresa" [Nombre]="nombre" [generarfcaccu]="sisirve"></app-ase-axxa>
    <app-ase-chubb *ngIf="nombraseguradora=='CHUBB'" ></app-ase-chubb>
    <app-ase-sura *ngIf="nombraseguradora=='SURA'" ></app-ase-sura>
    <app-ase-zurcih *ngIf="nombraseguradora=='ZURICH'" ></app-ase-zurcih>
    <app-ase-mapfre *ngIf="nombraseguradora=='MAPRE'" ></app-ase-mapfre>
    <app-ase-qualitas *ngIf="nombraseguradora=='QUALITAS'" ></app-ase-qualitas>
    <app-ase-banorte *ngIf="nombraseguradora=='BANORTE'" ></app-ase-banorte>
    <app-ase-hdi *ngIf="nombraseguradora=='HDI'" ></app-ase-hdi>
    <app-ase-afirme *ngIf="nombraseguradora=='AFIRME'" ></app-ase-afirme>
    <app-ase-anna *ngIf="nombraseguradora=='ANNA'" ></app-ase-anna>
</div>