#logoempresa {
  width: 45px;
  height: 45px;
}
#encu {
  font-family: "Exo 2", sans-serif;
  font: 300;
  font-weight: bolder;
  color: #ff6963;
}
#telcorreo {
  font-family: "Exo 2", sans-serif !important;
  font: 300 !important;
  font-weight: bolder !important;
}
#nom {
  font-family: "Exo 2", sans-serif;
  font: 300;
  font-size: 18px;
  margin-bottom: -6px !important;
}
#asesor {
  text-transform: uppercase;
  font-family: "Exo 2", sans-serif;
  font: 400;
  font-style: italic;
  font-weight: bolder;
  color: #ff6666;
  font-size: 20px;
}
hr {
  background-color: chocolate;
  height: 2px;
}

.mlef {
  margin-left: 0.5rem !important;
}
.mrig {
  margin-right: 0.5rem !important;
}

#carro {
  width: 250px;
}

@media (max-width: 576px) {
  .correoc {
    align-items: center;
    justify-content: left !important;
    margin-left: 10px;
  }

  #asesor {
    font-size: 16px;
  }
}

p {
  font-family: "Exo 2", sans-serif;
}

header {
  border-bottom: 2px solid #ff6963;
}
