<header>
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-2 d-flex align-items-center justify-content-center pr-0">
            <img id="logoempresa" src="../../../assets/images/logoempresa_default.png" class="img-fluid" />
          </div>
          <div class="col-10">
            <p class="mb-n1"><b>{{ sesion === null ? '' : sesion.FriendlyName }}</b></p>
            <p class="m-0" id="asesor">Asesor Profesional de seguros</p>
            <div class="d-flex">
              <p class="mr-3 text-muted d-none d-md-block mb-0">Contacto:</p>

              <a class="svg__icon mr-3" href="tel:55 1234 5678">
                <img id="agente-telefono" src="../../../assets/iconos/icono-telefono.svg">
              </a>
              <a class="svg__icon" href="mailto:ejemplo@aarco.com.mx">
                <img id="agente-mail" src="../../../assets/iconos/icono-mail.svg">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-md-end justify-content-center align-items-center mt-3 mt-md-0">
        <img id="logo-cotizamatico" src="../../../assets/iconos/icono-cotizamatico.svg">
      </div>
    </div>
  </div>
</header>
