@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "~@ng-select/ng-select/themes/default.theme.css";

* {
  font-family: "Exo 2", sans-serif;
}

.my-custom-class .tooltip-inner {
  /* background-color: darkgreen!important; */
  background-color: chocolate !important;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
}
.my-custom-class .arrow::before {
  /* border-top-color: darkgreen!important; */
  border-top-color: chocolate !important;
}

.my-custom-class .arrow::after {
  /* border-top-color: darkgreen!important; */
  border-top-color: chocolate !important;
}

.ng-option,
.alert-danger {
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  white-space: nowrap !important;
}
.ng-dropdown-panel {
  position: inherit !important;
}
.ng-select .ng-arrow-wrapper {
  width: 25px;
  background-image: linear-gradient(#ff8f48, #ff6963);
  height: 39px !important;
  max-height: 190px !important;
}

.ng-select .ng-arrow-wrapper .ng-arrow,
.ng-select ng-select-single ng-pristine ng-valid ng-select-bottom ng-touched {
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
}

.ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  min-height: 36px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ced4da;
  max-height: 190px;
}

.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
  top: -2px;
  border-color: transparent transparent #fff;
  border-width: 0 5px 5px;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  color: #333;
  background-image: linear-gradient(#ff8f48, #ff6963) !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-image: linear-gradient(#ff8f48, #ff6963) !important;
  color: #333;
}


.ngx-slider .ngx-slider-bar {
  width: 100% !important;
  height: 8px !important;
  border-radius: 5px !important;
  /* background-image: linear-gradient(#ff8f48, #ff6963) !important; */
}
ngx-slider .ngx-slider-pointer::after {
  background-image: linear-gradient(#ff8f48, #ff6963) !important;
}

.ngx-slider .ngx-slider-pointer {
  background-color: #ffffff !important;
}
.ngx-slider.animate .ngx-slider-bubble.ngx-slider-limit {
  visibility: hidden !important;
}

.ngx-slider .ngx-slider-pointer {
  width: 0px !important;
  height: 0px !important;
}

.ngx-slider .ngx-slider-bubble {
  font-size: 12px !important;
}

.ngx-slider .ngx-slider-bar-wrapper {
  padding-top: 5px !important;
}

.ngx-slider .ngx-slider-pointer:after {
  top: 3px !important;
  left: -3px !important;
}

.card {
  border: none !important;
  box-shadow: 0 1px 10px 1px rgb(0 0 0 / 8%), 0 1px 6px 0 rgb(0 29 124 / 5%);
  overflow: hidden;
}
